# Hand-in Assignment

You task is to produce a report for the Chair of Medicare (the organization that paid for the hospital stays of the patients in this dataset).

The Chair of Medicare wants to know what factors affect the cost of a hospital admission for heart attack.

Your report will summarise the distribution of costs and the factors that affect the cost of a hospital stay, using appropriate plots and descriptive statistics. 

## Instructions for completing this report

You will produce your report in the form of a a Jupyter notebook (you could modify this one or create a new one).

The notebook will contain text (to be read by the Chair of Medicare who is not familiar with Python code) and code blocks (showing transparently how you processed the data, in case someone in the Medicare Data Science Team wants to check or elaborate on the analysis).

You can add as many new blocks as you need to a notebook by clicking the + button in the toolbar at the top of the notebook viewer, then selecting the type (code or markdown, which is text) from the dropdown menu.

### What your report should cover

#### Data Overview
Report key demographics of the sample (proportion male/female; proportion that survived in each case

You should summarize the distribution of costs, disaggregated (bbroken down) by any categorical variables that, in your opinion, play an important role in determining cost

## Heart attack data

In this example we will use data from 12,843 patients admitted to hospital in New York City with a heart attack.
The data were collected via the Medicare system and are modified from a dataset at <a href="https://dasl.datadescription.com/">DASL</a>

These exercises will review some of the skills learned over the last three weeks. They will also prepare you for the first hand-in exercise: to produce a report for the Chair or Medicare, describing the main factors affecting cost and length of hospital stay for heart attack patients.

### Set up Python libraries

As usual, run the code cell below to import the relevant Python libraries

In [11]:
# Set-up Python libraries - you need to run this but you don't need to change it
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import pandas 
import seaborn as sns
sns.set_theme()

In [ ]:
### Load and inspect the data

In [25]:
heartAttack=pandas.read_csv('data/heartAttack.csv')
display(heartAttack)

        CHARGES  LOS  AGE SEX  DRG  DIED
0       4752.00   10   79   F  122     0
1       3941.00    6   34   F  122     0
2       3657.00    5   76   F  122     0
3       1481.00    2   80   F  122     0
4       1681.00    1   55   M  122     0
...         ...  ...  ...  ..  ...   ...
12839  22603.57   14   79   F  121     0
12840       NaN    7   91   F  121     0
12841  14359.14    9   79   F  121     0
12842  12986.00    5   70   M  121     0
12843       NaN    1   81   M  123     1

[12844 rows x 6 columns]